.config {
    display: grid;
    grid-template: 1fr / 50% 50%;
    .input {
        width: 90%;
        resize: none;
    }
}

.form {
    width: 600px;
    min-height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .field {
        .label {
            margin-bottom: 5px;
        }
        display: flex;
        flex-direction: column;
        &.description .input {
            height: 100px;
            resize: none;
        }
    }
    & > *:not(:first-child) {
        margin-top: 15px;
    }
}

.repo-url {
    margin: 10px 0;
    font-size: larger;
}
