.messages {
    margin-top: 20px;
    .message-pairs {
        .message-pair {
            margin-left: 10px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .message-list {
                padding-left: 30px;
                .message-str {
                    display: flex;
                    line-height: 1.4rem;
                    .fa-minus-circle.button {
                        padding-top: 3px;
                    }
                }
            }
        }
        .message-key  {
            font-size: larger;
        }
        .editable:hover {
            background-color: rgba($light-blue, 0.25);
            box-shadow: 1px 1px 1px 1px rgba($light-blue, 0.25);
        }
    }
}
