.simulator {
    .info {
        cursor: help;
    }

    .requests {
        .request {
            padding-left: 8px;
            color: $blue;
        }
    }

    .simulator-edit, .simulator-create {
        .form-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .multi-item {
                display: flex;
                align-items: center;
            }
        }

        .multi {
            .multi-item {
                margin-bottom: 5px;
                display: flex;

                    & > :not(:last-child) {
                        margin-right: 10px;
                    }

                    .form-field {
                        margin-bottom: 0;
                        flex-grow: 1;
                    }

                    .header-field {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 0px;
                        flex-grow: 1;

                        & > * {
                            flex-grow: 1;

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
            }
        }

        textarea {
            height: 100px;
        }
    }
}

.sockets {
    .socket {
        border-left: 8px solid;
        border-bottom: 1px solid;
        border-color: $blue;
        border-bottom-color: lighten($blue, 35%);
        padding-left: 10px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &.inactive {
            border-color: $gray;
            border-bottom-color: lighten($gray, 35%);
        }
    }

    .no-messages {
        font-weight: bold;
        color: $purple;
    }

    .ws-message {
        list-style: circle;
        margin-left: 18px;
        .ws-content {
            display: flex;
            justify-content: space-between;

            .ws-body {
                color: $green;
                display: inline-block;
                flex-grow: 0;
                margin: 0;
                word-break: break-word;
                overflow: scroll;
                max-height: 200px;

                &:not(.expanded) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .timestamp {
                min-width: 245px;
                text-align: right;
            }
        }
    }

    .inactive {
        .ws-messages .ws-message {
            color: $gray;
            font-style: italic;
        }
    }
}

.modal {
    .request-details {
        padding: 0 16px;

        .key-vals {
            padding-left: 16px;
            .key {
                font-family: Courier;
            }

            .val {
                font-style: italic;
            }
        }
    }

    .send-ws-message {
        textarea {
            width: calc(100% - 2px);
            min-height: 150px;
        }
    }
}
