.sim-section {
    &:not(:last-child) {
        margin-bottom: 8px;
    }

    .sim-group {
        .group-name {
            font-weight: bold;
            color: $blue;
        }

        .sim-card {
            width: 100%;

            .details-container {
                display: flex;
                justify-content: space-between;

                .details {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .sim-card-description {
                        white-space: normal;
                        text-align: left;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.sim-card, .simulator {
    .sim-card-identifier {
        display: flex;

        .sim-card-method {
            margin-right: 4px;
            font-weight: bold;
            color: $purple;
            font-size: 18px;
        }

        .sim-card-path {
            text-decoration: underline;
            font-size: 18px;

            .path-prefix {
                color: $purple;
            }

            .path-user-defined {
                color: $green;
            }
        }
    }

    .sim-card-name {
        font-weight: bold;
        font-style: italic;
    }
}

.sim-card-counts {
    margin: 4px;
    & > * {
        margin-left: 4px;
    }
}
