.pure-button {
    &.button-success {
        background: $green;
    }
    &.button-error {
        background: $red;
        color: white;
    }
    &.button-warning {
        background: $orange;
        color: white;
    }
    &.button-secondary {
        background: $light-blue;
    }
}

.button {
    cursor: pointer;
    &.fa-minus-circle.red {
        margin-right: 10px;
    }
}

.button-row {
    display: flex;
    margin: 5px 0;
    & > *:not(:last-child) {
        margin-right: 10px;
    }
}

.dropdown-menu-wrapper {
    cursor: pointer;

    .dropdown-cheveron {
        margin-left: 5px;
    }

    .dropdown-menu {
        position: fixed;
        transition: height 0.125s linear;
        overflow-y: hidden;
        width:      200px;
        border: 1px solid $light-gray;

        &.closed {
            border: none;
        }

        .menu {
            padding: 12px;
            background-color: $header-bg;
        }
    }
}

a.clean {
    color: unset;
    cursor: unset;
    text-decoration: unset;
}
