.button-row {
    display: flex;
    flex-wrap: wrap;

    & > * {
        margin-top: 5px;
        margin-bottom: 5px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &.buttons-right {
        justify-content: flex-end;

        & > * {
            margin-right: 0;

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

.dropdown-menu-wrapper {
    cursor: pointer;

    .dropdown-cheveron {
        margin-left: 5px;
    }

    .dropdown-menu {
        position: fixed;
        transition: height 0.125s linear;
        overflow-y: hidden;
        width:      200px;
        border: 1px solid $light-gray;

        &.closed {
            border: none;
        }

        .menu {
            padding: 12px;
            background-color: $header-bg;
        }
    }
}

a.clean {
    color: unset;
    cursor: unset;
    text-decoration: unset;
}
