.errors {
    border: 2px solid red;
}

.add-item, .remove-item {
    cursor: pointer;
}

.form-field {
    input, textarea {
        border-radius: 4px;
        border-style: solid;
        box-sizing: border-box;
        height: 24px;
        padding: 2px;
        border-width: 1px;
        border-color: #a6a6a6
    }

    select {
        height: 30px;
    }

    select, input {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
