.toast-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;

    .toast-message {
        pointer-events: auto;
        width: 400px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
        margin: 1px;
        transform: scaleY(1);
        transition: transform 0.1s linear;
        background-color: $white;

        &:last-child {
            margin-bottom: 0;
        }

        &.adding {
            transform: scaleY(0);
        }
    }
}
