$blue: #0078e7;
$dark-blue: #309;
$dark-gray: #333;
$gray: #666;
$green: rgb(28, 184, 65);
$header-bg: #fafffa;
$light-blue: rgb(66, 184, 221);
$light-gray: #aaa;
$magenta: #b0b;
$orange: rgb(223, 117, 20);
$purple: rebeccapurple;
$red: rgb(202, 60, 60);
$white: #fff;
